body {
    background-color: #eee;
    margin: 0rem;
}

.whole-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 20rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.title-section {
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.title-section>label,
.date-section>label,
.description-section>label {
    font-size: 1.2rem;
}

.title-section>input,
.date-section>input {
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1rem;
}

.description-section {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.description-section>textarea {
    border: 1px solid black;
    font-size: .9rem;
}

.date-section {
    display: flex;
    flex-direction: column;
    width: 6rem;
}

.urgency-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.whole-form>h1 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    position: relative;
}

.whole-form>h1::after {
    content: "* = required field";
    position: absolute;
    font-size: 1rem;
    top: 1.5rem;
    left: 1.1rem;
    font-weight: lighter;
}

.button-section {
    display: flex;
    gap: 1rem;
}

.submit-button,
.reset-button {
    font-size: 1.1rem;
    background-color: white;
}

.sidebar {
    background-color: rgb(188, 188, 249);
}

.site-container {
    display: grid;
    grid-template: 1fr / 1fr 6fr;
}

.username-section {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.projects-section {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 5rem;
    border-bottom: 2px solid black;
}

.clickable-proj {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}

.bold-hover:hover {
    font-weight: 700;
}

.add-proj {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.645);
    cursor: pointer;
}

.content-list-area {
    display: flex;
}

.list {
    font-size: 1.3rem;
    display: grid;
    grid-template: repeat(5, 2rem) / 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 2rem;
    gap: 1rem;
    width: 100%;
    margin-right: .5rem;
    margin-top: 3rem;
    position: relative;
}

.list-header {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -2.5rem;
    font-size: 1.6rem;
    border-bottom: 3px solid black;
}

.list-card {
    background-color: bisque;
    border: 1px solid black;
    padding: .2rem
}

.list-card:hover {
    text-decoration: line-through black;
    cursor: pointer;
}

.urgent {
    color: red;
    font-weight: 700;
}

button {
    cursor: pointer;
}

.editable-header {
   font-style: italic;
}

.invisible {
    /* display: none; */
}